# fly.toml app configuration file generated for oleoflix-backend on 2026-02-04T23:44:01-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'oleoflix-backend'
primary_region = 'lax'

[build]

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
